<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="K2Server" value="cft-v-k2int02"/>
    <add key="Activity_Instance_SMO" value="Activity_Instance"/>
    <add key="Event_Instance_SMO" value="Event_Instance"/>
    <add key="K2ServiceAccount" value="CHANNEL4\SVCK2MINTMULEUSER"/>
  </appSettings>
</configuration>